.box {
    -fx-spacing: 50;
}

.importantText {
    -fx-font-size: 1.5em;
    -fx-text-fill: derive(#2125de, 30%);
    -fx-font-weight: bold
}

.naviButton {
    -fx-font-size: 1.2em;
    -fx-text-fill: derive(#2125de, 30%)
}